<nav class="nav">
<nav class="nav-center">
  <!-- Left side -->

    <div class="navbar-item">
      <p class="title is-3 is-text-bold">
        <%=current_user.name %> 
      </p>
    </div>
  </nav>
  <nav class="nav-right">
  <%= link_to "Sign out", destroy_user_session_path, method: 'DELETE' %>
  </nav>
  </nav>
  <div class="columns is-dark">
    <div class="column is-two-thirds">
      <section class="section">
        <!-- <div class="columns is-wrap"> -->
          <div class="favorite-bands">
          <% @user_favorite_bands.each do |band| %>
            <div class="card">
						  <div class="card-image">
						    <figure class="image is-4by3">
						      <img src="/concert.jpeg" alt="band-image">
						    </figure>
						 		</div>
						  	<div class="card-content">
						    	<div class="media">
						      	<div class="media-content">
						        <p class="title is-5"><%= link_to band.name, user_band_path(current_user, band) %></p>
						      	<p class="subtitle is-7">Tour end: <%= band.on_tour_until %> </p>
						      	</div>
						    	</div>
							    <div class="content">
							      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							      Phasellus nec iaculis mauris.      
							    </div>
							    <button type="submit" class="no-favorite" id="<%= band.id %>">Unfavorite</button>
						  </div>
						  <% end %>
					</div>
         <%  %>
         </div>
         <div class="column is-6">
				<% if @concert_matches != nil %>	
				<p>HEY! There was a match. Look at this!</p>
			<ul>
				<%	@concert_matches.each do |concert|	%>	
				<li> <%= "#{concert.name}, on #{concert.date} in #{concert.city}" %> 
				</li>
				<% end %>
			</ul>
			<% end %>
         </div>
       <!-- </div> -->
     </section>
     </div>
      <!-- <div class="column is-4"> -->
		    <div class="column is-one-third">
		    <section class="hero is-medium is-dark is-bold">
					<div class="hero-body">
    				<div class="container">
      				<h3 class="title">
       					Search for your favorite bands/artists</h3>
									<form class="js-form">
										<input type="text" class="js-artist">
										<button type="submit" class="js-submit">Search</button>
									</form>
							<div class="js-artist-name">
							</div>
							<p class="js-artist-ontour">On tour Until:</p>
					 </div>
  				</div>
				</section>
		      </div>
    		</div>
    		<div class="columns is-mobile">
				<div class="columns is-6">
				</div>
				<div class="columns is-6">
				</div>
    		</div>
    		<div class="container">
				<ul class="js-artist-nextdates"> 
					<li></li>
				</ul>
    		</div>
  

 





<%= link_to "Sign out", destroy_user_session_path, method: 'DELETE' %>
