<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	
</head>
<body>
<% if user_signed_in= %>
	<h2> Welcome again <%= current_user.name %> </h2>
	<% else %>
	<h3> Nobody logged in </h3>
<% end %>
<p>Your current user email is: <%= current_user.email %> </p>
<div>Bands you like</div>
<ul>
	<% @user_favorite_bands.each do |band| %>
	<li><a href="<%= user_band_path(current_user, band.id) %>"> 
		<%=  band.name %> </a> 
	</li>
		
	<% end %>
</ul>


<h5>Antiguo form</h5>
<form class="js-form">
	<input type="text" class="js-artist">
	<button type="submit" class="js-submit">Search</button>
</form>
<h3>Band Name</h3>
<div class="js-artist-name">
<ul> 
	<li>  </li>
</ul>
</div>
</br>
</br>
<h4>On tour until:</h4>
<div class="js-artist-ontour">
</div>
<div class="columns">
		<div class="column">
		<div class="js-artist-id">
		</div>
		<div class="js-artist-nextdates">
		</div>
	</div>
</div>
<%= link_to "Sign out", destroy_user_session_path, method: 'DELETE' %>
</body>
</html>